<h2 mat-dialog-title>Edit Description</h2>
<mat-dialog-content [formGroup]="form">
  <p>
    <strong>{{ form.value.title }}</strong>
  </p>
  <mat-form-field appearance="outline" style="width: 100%">
    <textarea matInput formControlName="description" rows="5"></textarea>
    <mat-error *ngIf="form.get('description')?.hasError('required')">
      Description required
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
